#order-wrapper {
    background-color: red;
    display: flex;
    height: 40rem;
    margin: auto;
}

p {
    margin: 0
}

.icons {
    background-color: limegreen;
    padding: .8rem;
   
    img {
        display: block;
    }
}
.content {
    background-color: magenta;
    flex-grow: 1;
    overflow-y: scroll;
 
    &::-webkit-scrollbar {
        display: none;
    }
 }



@media screen and(max-width: 576px) {
    #order-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .icons {
            display: flex;
            justify-content: space-around;
        }

        .content {
            margin-bottom: 1rem;
        }

        .row {
            flex-direction: column;
        }
    }
}