.main {
    background-color: var(--purple);
    width: 26.9rem;
    box-shadow: 5px 0px 5px #00000029;
    border-radius: 0px 2.5rem 2.5rem 0px;
    position: relative;
    transition: all 0.6s ease-in-out;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
}

nav {
    position: absolute;
    left: 1.35rem;
    transition: all 0.6s ease-in-out;
}

ul li {
    list-style: none;
    margin-bottom: 2.5rem;
}

.arrow {
    position: absolute;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid var(--purple);
    background-color: #fff;
    top: 12.65rem;
    right: 0;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow:hover {
    cursor: pointer;
}

.arrow img {
    height: 3.4rem;
    transition: all 0.6s ease-in-out;
    filter: invert(16%) sepia(84%) saturate(4763%) hue-rotate(269deg) brightness(92%) contrast(115%);
}

img {
    display: block;
}
